body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
  }

  html {
    --color-accent: oklch(65% 50% 0); 
  }
  
  
  html {
    accent-color: var(--color-accent);
  }
  
  nav{
    display: flex;
  
    
    
    margin-bottom: 5em;
    border-bottom: 1px solid oklch(80% 3% 200); 
  }
  
  nav a {
    flex: 1;
    text-decoration: none;
    text-align: center;
    

    color: inherit;
    padding: .5em;
    
    
    
    
  }
  
  nav a.current{
    border-bottom: 0.4em solid oklch(90% 2% 200);
    padding-bottom: calc(10px - 0.4em);
  }

  nav a:hover{
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: calc(10px - 0.4em);
    background-color: oklch(95% 5% 0);
    
  }
  form{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    
  }
  label{
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    display: grid;
  }
  
  button{
    grid-column: 1/-1;
  }
  .projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  }
  article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
  }
  h2{
    margin: 0;
    line-height: 1.1;
    text-wrap: balance;
  }
  h1{
    font-size: 400%;
    line-height: 1.1;
    text-wrap: balance;
  }
  h3{
    line-height: 1.1;
    text-wrap: balance;
  }
  h4{
    line-height: 1.1;
    text-wrap: balance;
  }
  h5{
    line-height: 1.1;
    text-wrap: balance;
  }
  h6{
    line-height: 1.1;
    text-wrap: balance;
  }

  
  
  
  